* {
  margin: 0;
  padding: 0;

  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  width: 100vw;

}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(22, 31, 53, 0.97)
}

.prime_logo {
  width: 170px;
  height: 60px;
  mix-blend-mode: lighten;
  margin-top: 1px;

}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.a {
  color: white;
}

.image1 {
  margin-left: 460px;
  width: 850px;
}

.b {
  color: #fff;
  font-size: 45px;
  margin-top: -370px;
  margin-left: 40px;
}

.c {
  color: #fff;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 40px;
  font-family: Sanchez;
  text-align: justify;
  position: relative;
}

.button {
  background-color: #026f94;
  border: none;
  color: white;
  padding: 15px 92px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.button:hover {
  background-color: #00445b;
  color: rgb(233, 235, 255)
}

.button:active {
  background-color: #026f94;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.general1 {
  margin-top: 200px;
  margin-right: 100px;
}

.general_1 {
  margin-left: 880px;
  margin-top: -130px;
}

.d {
  color: #fff;
  font-size: 45px;
  margin-top: -570px;

}

.e {
  color: #fff;
  font-size: 25px;
  margin-top: 20px;

  font-family: Sanchez;
}

.general2 {
  margin-top: 230px;
}

.f {
  color: #fff;
  font-size: 45px;
  margin-top: -520px;
  margin-left: 40px;
}

.g {
  color: #fff;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 40px;
  font-family: Sanchez;
}

.h {
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 190px;
  font-family: Sanchez;
}

.general3 {
  margin-top: 130px;
}

.i {
  color: #fff;
  font-size: 45px;
  margin-top: -520px;
  margin-left: 650px;
}

.j {
  color: #fff;
  font-size: 23px;
  margin-top: 20px;
  margin-left: 680px;
  font-family: Sanchez;
}

.general4 {
  margin-top: 240px;
  background-color: white;
  height: 600px;
  width: 1300px;
}

.img1 {
  margin-left: 48px;
  margin-top: 40px;
}

.img2 {
  margin-left: 114px;
}

.img3 {
  margin-left: 135px;
}

.general_4a {
  margin-left: 50px;
  font-size: 40px;
}

.general_4b {
  margin-left: 415px;
  margin-top: -230px;
}

.general_4c {
  margin-left: 843px;
  margin-top: -230px;
}

.s1 {
  margin-left: -16px;
  font-size: 17px;
}

.s2 {
  margin-left: -30px;
  font-size: 17px;
}

.s3 {
  margin-left: -6px;
  font-size: 17px;
}

.k {
  margin-top: 60px;
  width: 1300px;
  height: 600px;
}

.l {
  color: #fff;
  font-size: 45px;
  margin-top: -520px;
  margin-left: 140px;
}

.m {
  color: #fff;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 60px;
  font-family: Sanchez;
}

.general5 {
  background-color: rgb(41, 40, 40);
  height: 400px;
  width: 1300px;

}

.n {
  width: 150px;
  height: 60px;
  mix-blend-mode: lighten;
  margin-top: 250px;
  margin-left: 580px;
  margin-bottom: 20px;
}
